#timeInput {
    width: 100px;
}


#admin-nav {
    background-color: $black;
    width: 250px;
    height: 100%;
    position: fixed;
    border-right: 1px solid white;
    @include transition;
    z-index: 110;
    left: 0px;

    .admin-nav {
        width: 100%;
        padding: 30px 20px;
        @include column;
        gap: 10px;
        color: $white;

        .logo {
            width: 130px;
            margin-bottom: 20px;

            img {
                width: 100%;

            }
        }

        .admin-about {
            background-color: rgb(26, 26, 26);
            width: 100%;
            @include flex;
            padding: 5px;
            margin: 10px 0 20px 0;
            border-radius: 5px;

            >div {
                @include center;
                gap: 10px;
            }

            i {
                // font-size: 20px;
                color: $white;
            }

            .people-icon {
                font-size: 27px;
            }

            .text {
                @include column;

                span {
                    color: $gray;
                    font-size: 10px;
                }

                p {
                    font-weight: $thridFond;
                    font-size: 23px;
                }
            }

            .admin-log-out {
                width: 40px;
                height: 40px;
                @include center;
                border: 2px solid $orange;
                cursor: pointer;
            }
        }

        a {
            color: $white;
            @include transition;
            font-size: 17px;
            margin-left: 20px;

            &:hover {
                color: $orange;
            }
        }
    }
}

#admin-menu-panel {
    position: fixed;
    top: -100px;
    @include transition;
    left: 0;
    width: 100%;
    background-color: $black;
    z-index: 100;

    .admin-menu-panel {
        @include flex;
        width: 100%;
        padding: 20px 0;
        color: $white;
        font-size: 20px;

        .logo {
            width: 120px;

            img {
                width: 100%;
            }
        }

        i {
            cursor: pointer;
            @include transition;

            &:hover {
                color: $orange;
            }
        }
    }
}

#dashboard {
    overflow: hidden;

    background-color: $black;
    padding-left: 250px;
    height: 100%;
    width: 100%;
    @include transition;

    .dashboard {
        padding: 0px 0 100px 0;
        @include column;
        gap: 30px;

        h2 {
            margin-top: 40px;
            color: $white;
            font-size: 28px;
        }

        .card {
            padding: 30px;
            width: 100%;
            background: rgb(34, 34, 34);
            color: $white;
            @include column;
            gap: 10px;
            overflow-x: auto;

            .title {
                width: 100%;
                min-width: 500px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;

                >div {
                    @include center;
                    flex-direction: row;
                    gap: 10px;
                }

                i {
                    color: $orange;
                }
            }

            table {
                min-width: 500px;
                width: 100%;
                overflow-x: auto;

                thead {
                    width: 100%;
                    font-size: 12px;
                    color: $gray;
                    border-top: 1px solid rgb(0, 0, 0);
                    border-bottom: 1px solid rgb(0, 0, 0);

                    tr {
                        td {
                            padding: 10px 0;

                        }
                    }
                }

                tbody {
                    font-size: 14px;

                    i {
                        color: $orange;
                    }

                    td {
                        padding-top: 10px;

                        i {
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

#catalog {
    overflow: hidden;
    width: 100%;
    padding-left: 250px;
    @include transition;
    background-color: $black;
    min-height: 100vh;

    .catalog {
        padding: 0 0 100px 0;
        width: 100%;
        @include column;
        gap: 20px;

        .title {
            padding: 25px 0 0px 0;
            width: 100%;
            color: $white;
            @include flex;

            // flex-direction: column;
            .left {
                @include center;
                flex-direction: row;
                gap: 10px;

                h2 {
                    font-size: 26px;
                }

                p {
                    color: $gray;
                    font-size: 13px;
                    font-weight: $thridFond;
                }
            }

            .right {
                @include center;
                flex-direction: row;
                gap: 20px;
                flex-wrap: wrap;

                .sort {
                    @include column;
                    line-height: 1;
                    cursor: pointer;

                    span {
                        font-size: 12px;

                    }

                    p {
                        color: $white;
                        font-weight: $thridFond;

                        i {
                            color: $orange;
                        }
                    }
                }

                .search {
                    position: relative;
                    width: 200px;
                    height: 50px;

                    input {
                        background-color: rgb(34, 34, 34);
                        border: none;
                        width: 100%;
                        height: 100%;
                        outline-color: $orange;
                        padding: 20px 35px 20px 10px;
                        color: $white;
                    }

                    i {
                        background-color: rgb(34, 34, 34);
                        position: absolute;
                        top: 2px;
                        color: $white;
                        padding-top: 10px;
                        height: 96%;
                        right: 10px;
                    }
                }
            }
        }

        .push {
            width: 100%;
            text-align: end;
            padding-bottom: 10px;

            a {
                color: $white;
                font-size: 15px;
                padding: 10px 20px;
                background-color: $orange;
            }
        }

        .table>:not(caption)>*>* {
            background-color: transparent;
            border-bottom-color: rgb(41, 41, 41);
        }

        .table {
            overflow-x: auto;
            padding: 20px;
            background-color: rgb(34, 34, 34);

            table {
                min-width: 800px;
                width: 100%;


                thead {
                    background: none;
                    width: 100%;

                    tr {
                        padding: 20px;

                        td {
                            color: $gray;
                            font-size: 12px;
                            font-weight: $thridFond;
                        }
                    }
                }

                tbody {
                    tr {

                        // background-color: #fff;
                        td {

                            background-color: rgb(34, 34, 34);
                            font-size: 14px;
                            padding: 15px 0;
                            color: $white;

                            i {
                                padding: 5px 7px;
                                cursor: pointer;
                                background-color: rgb(34, 34, 34);
                                border-radius: 2px;

                            }

                            .bi-pencil-square {
                                color: yellow;
                            }

                            .bi-eye-fill {
                                color: blue;
                            }

                            .bi-trash3 {
                                color: red;
                            }

                            .bi-star-fill {
                                background-color: transparent;
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}

#add-item {
    padding-left: 250px;
    background-color: $black;
    min-height: 100vh;
    height: 100%;
    color: $white;
    // overflow: hidden;
    @include transition;

    // width: 100%;
    .add-item {
        padding: 40px 10px 10px 10px;
        overflow: hidden;
        // width: 100%;
        height: 100%;
        @include column;
        gap: 20px;
        .melumat{
            position: relative;
            >div{
                font-size: 12px;
                width: 300px;
                display: none;
                position: absolute;
                top: -5px;
                left: 30px;
                z-index: 200;

            }
            i{
                cursor: pointer;

            }
            &:hover{
                >div{
                    display: block;
                }
            }
        }
        h2 {
            font-size: 30px;
        }

        .add-main {
            
            padding: 20px;
            width: 100%;
            // background-color: aliceblue;
            padding: 20px 0;
            // overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows:1fr 1fr 1fr 1fr 1fr;
            gap: 30px;

            // min-height: 50vh;
            >div {
                width: 100%;
                height: 100%;
                color: $black;
            }

            .a {
                grid-area: 1/1/6/2;
                // box-shadow: 0 0 10px rgb(143, 143, 143);
                background-color: rgb(35, 35, 35);
                position: relative;
                span{
                    position: absolute;
                    top: 1px;
                    left: 20px;
                    color: $gray;
                    z-index: 10;
                }
                label {
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    width: 100%;
                    height: 100%;
                    color: $white;
                    // z-index: 40;
                    // padding: 2px 10px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        // display: none;
                    }

                    // background-color: aliceblue;
                    // background-color: aliceblue;
                }
            }

            .b {
                grid-area: 1/2/2/4;
            }

            .c {
                grid-area: 2/2/5/4;
            }

            .d {
                grid-area: 5/2/6/4;

                // input{
                //     display: none;
                // }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {

                    opacity: 0;

                }
            }

            .f {
                padding: 0;
                // background-color: azure;
                grid-area: 7/2/8/4;
                @include column;
                gap: 3px;
                justify-content: space-between;
                width: 100%;

                label {
                    // padding: 10px;

                    width: 100%;
                    height: 45px;
                    background-color: rgb(35, 35, 35);
                    padding: 10px 20px;
                    // border: 1px solid white;
                    @include flex;
                    cursor: pointer;

                    span {
                        color: $gray;
                        text-align: end;
                        font-size: 12px;
                    }

                    p {
                        color: $white;
                    }
                }

                input {
                    display: none;
                }

                // max-height: 500px;
                // color: $white;
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: space-between;
                // gap: 5px;

                // img {
                //     width: 31%;
                //     height: 100%;
                // }

            }

            .g {
                grid-area: 8/1/9/4;
                display: flex;
                align-items: center;
                gap: 10px;
                flex-direction: row;

                >div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    p {
                        color: $white;
                    }
                }
            }

            .e {
                grid-area: 7/1/8/2;
                background-color: rgb(35, 35, 35);
                position: relative;

                label {
                    width: 80px;
                    height: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    background-color: rgb(35, 35, 35);
                    color: $white;
                    font-weight: $thridFond;
                    padding: 2px 10px;
                    text-align: center;
                    cursor: pointer;
                    border: 1px solid $white;
                }

                span {
                    top: 10px;
                    left: 10px;
                    z-index: 100;
                    position: absolute;
                    color: gray;
                }

                iframe {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                input {
                    cursor: pointer;
                    background-color: transparent;
                    background: none;
                    // background-color: aqua;
                    position: absolute;
                    width: 90px;
                    font-size: 10px;
                    height: 40px;
                    top: 0;
                    left: 0;
                    z-index: 10;

                    // display: none;
                }
            }

            img {
                width: 200px;
                height: 100px;
            }

            .image {
                // color: rgb(34, 34, 34);
                box-shadow: 0 0 20px rgb(34, 34, 34);
                width: 100%;
                height: 100%;
                // cursor: pointer;

                // label {
                //     width: 100%;
                //     height: 100%;
                //     cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                // }

                input {
                    display: none;
                }
            }

            input,
            textarea {
                width: 100%;
                height: 100%;
                border: none;
                background-color: rgb(34, 34, 34);
                padding: 12px 20px;
                color: $white;
            }

            .select {
                grid-column: 1/4;
                width: 100%;
                // height: 50px;
                // background-color: aqua;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 30px;

                >div {
                    cursor: pointer;
                    @include center;
                    gap: 5px;

                    label {
                        // background-color: aliceblue;
                        color: $white;
                        cursor: pointer;

                    }

                    input {
                        max-width: 20px;
                        cursor: pointer;
                        // background-color: blanchedalmond;
                    }
                }
            }

        }

        .save {
            padding: 10px 30px;
            font-weight: $thridFond;
            background-color: $orange;
            border: 2px solid $orange;
            max-width: 200px;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            @include transition;
            cursor: pointer;

            &:hover {
                background-color: $black;
                color: $orange;
            }
        }
    }
}

.check {
    position: fixed;
    width: 250px;
    height: 200px;
    top: calc((100% - 250px) /2);
    left: calc((100% - 200px) /2);
    color: green;
    font-size: 100px;
    background-color: rgb(197, 197, 197);
    border: 1px solid white;
    border-radius: 20px;
    @include center;
    flex-direction: column;
    display: none;
}


#detail-admin {
    width: 100%;
    background-color: $black;
    min-height: 130vh;
    color: $white;
    z-index: 200;
    padding-left: 250px;
    // padding: 20px 0;

    .detail-admin {
        width: 100%;
        padding: 50px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        >div {
            width: 100%;
            height: 100%;
            color: $black;
        }

        .a {
            grid-area: 1/1/6/2;
            box-shadow: 0 0 20px rgb(143, 143, 143);
            ;
        }

        .b {
            grid-area: 1/2/2/4;
        }

        .c {
            grid-area: 2/2/5/4;
        }

        .d {
            grid-area: 5/2/6/4;
        }

        .e {
            grid-area: 7/1/8/2;
            box-shadow: 0 0 20px rgb(143, 143, 143);

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        img {
            width: 200px;
            height: 100px;
        }

        .f {
            grid-area: 7/2/8/4;
            @include column;
            gap: 3px;
            justify-content: space-between;

            label {
                // padding: 10px;
                width: 100%;
                height: 45px;
                background-color: rgb(35, 35, 35);
                padding: 10px 20px;
                @include flex;

                span {
                    color: $gray;
                    text-align: end;
                }

                p {
                    color: $white;
                }
            }

            input {
                display: none;
            }

        }
        .g {
            grid-area: 8/1/9/4;
            display: flex;
            align-items: center;
            gap: 10px;
            flex-direction: row;

            >div {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    color: $white;
                }
            }
        }


        .image {
            // color: rgb(34, 34, 34);
            box-shadow: 0 0 20px rgb(34, 34, 34);
            width: 100%;
            height: 100%;
            cursor: pointer;

            label {
                width: 100%;
                height: 100%;
                // cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            input {
                display: none;
            }
        }

        input,
        textarea {
            width: 100%;
            height: 100%;
            border: none;
            background-color: rgb(34, 34, 34);
            padding: 12px 20px;
            color: $white;
        }

        .select {
            grid-column: 1/4;
            width: 100%;
            // height: 50px;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            background-color: $black;

            >div {
                cursor: pointer;
                @include center;
                gap: 5px;

                label {
                    // background-color: aliceblue;
                    color: $white;
                    cursor: pointer;

                }

                input {
                    max-width: 20px;
                    cursor: pointer;
                    // background-color: blanchedalmond;
                }
            }
        }


    }
}

#admin-login {
    width: 100%;
    height: 100vh;
    padding: 120px 0 0 0;

    .admin-login {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        padding: 20px;
        box-shadow: 0 0 10px 1px gray;
        @include column;
        gap: 15px;
        .notification{
           
            position: absolute;
            top: 20px;
            right: 0;
            width: 180px;
            font-size: 12px;
            padding: 10px 0 10px 10px;
            background-color: $lightGray;
            display: none;
            p{
                width: 100%;
            }
        }
        .logo {
            width: 100%;
            @include flex;
            >div{
                position: relative;
                i{
                    padding: 5px;
                    cursor: pointer;
                }
                &:hover{
                    .notification{
                        display: block;
                    }
                }
            }
            img {
                width: 100px;
            }
        }

        .main-login {
            width: 100%;
            @include column;
            gap: 5px;

            label {
                font-size: 16px;
                font-weight: $secondFont;

                span {
                    color: red;
                }
            }

            input {
                padding: 8px;
                width: 100%;
                margin-bottom: 10px;
            }

            >div {
                position: relative;
                width: 100%;

                i {
                    position: absolute;
                    top: 4px;
                    right: 10px;
                    color: $black;
                    cursor: pointer;
                    padding: 5px 6px 4px 6px;
                    border-radius: 50%;
                    @include transition;

                    &:hover {
                        background-color: rgb(215, 215, 215);

                    }
                }
            }

            .log {
                margin-top: 20px;
                padding: 8px 10px;
                background-color: $orange;
                cursor: pointer;
                color: $white;
                width: 100px;
                font-weight: $thridFond;
                text-align: center;
                @include transition;
                border: 2px solid $orange;

                &:hover {
                    background-color: $white;
                    color: $orange;
                }
            }
        }
    }
}

#add-image {
    display: none;
}

#add-item .add-item .f {
    padding: 0 30px;
}

@media screen and (max-width:1042px) {
    #add-item .add-item {
        .save {
            width: 100%;
        }

        .add-main {
            .a {
                grid-area: 1/1/4/4;
            }

            .b {
                grid-area: 4/1/5/4;
            }

            .c {
                grid-area: 5/1/7/4;
            }

            .d {
                grid-area: 7/1/8/4;
            }

            .e {
                grid-area: 9/1/10/4;

            }

            .f {
                width: 100%;
                grid-area: 11/1/12/4;

            }

            .g {
                grid-area: 12/1/13/4;
                flex-direction: column;
                gap: 10px;
                
            }
        }
    }

    #detail-admin {
        .detail-admin {
            .a {
                grid-area: 1/1/4/4;
            }

            .b {
                grid-area: 4/1/5/4;
            }

            .c {
                grid-area: 5/1/7/4;
            }

            .d {
                grid-area: 7/1/8/4;
            }

            .e {
                grid-area: 9/1/10/4;

            }

            .f {
                width: 100%;
                grid-area: 11/1/12/4;

                label {
                    span {
                        font-size: 10px;
                    }
                }
            }
            .g {
                grid-area: 12/1/13/4;
                flex-direction: column;
                gap: 10px;
                
            }
        }
    }
}

@media screen and (max-width:768px) {
    #catalog .catalog {
        .title {
            flex-direction: column;
            align-items: flex-start;

            .right {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .push {
            text-align: start;
        }
    }

    #admin-menu-panel {
        top: 0
    }

    #admin-nav {
        left: -250px;
    }

    #dashboard {
        padding-left: 0px;

        .dashboard {
            padding-top: 70px;
        }
    }

    #catalog {
        padding-left: 0px;

        .catalog {
            padding-top: 70px;
        }
    }

    #add-item {
        padding-left: 0px;
    }

    #add-item {
        .add-item {
            padding-top: 80px;

            .f {
                padding: 0 30px;
            }
        }
    }

    #detail-admin {
        padding-left: 0px;

        .detail-admin {
            .f {
                padding: 0 30px;
            }
        }
    }
}

@media screen and (max-width:425px) {
    #detail-admin {
        .detail-admin {
            .f {
                padding: 0px;

            }
        }
    }

    #add-item {
        .add-item {
            .f {
                padding: 0px;

            }
        }
    }
}