#film-detail{
    background-color: white;
}
.film-detail{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.film-detail .title{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title >div{
    display: flex;
    flex-direction: column;
    /* gap: 1/0px; */
}
.title >div >div{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 16px;
}
.title >div >div p{
    margin:0 3px;
}
.title a{
    width: 140px;
    padding: 14px;
    background-color: #d96c2c;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #d96c2c;
    transition: all .3s ease;
}
.title a:hover{
    background-color: white;
    color: #d96c2c;
}
.title h2{
    font-size: 34px;
    font-weight: 700;
}
.trailer{
    /* max-height: 200px; */
    max-width: 500px;
    width: 100%;
    height: 250px;
    position: relative;
}
.trailer img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .trailer span{
        cursor: pointer;
        position: absolute;
        top:calc((100% - 50px) /2) ;
        left:calc((100% - 50px) /2) ;
        border-radius: 50%;
        border: 2px solid #d96c2c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #d96c2c;
        color: white;
        transition: all .3s ease;
    }
    .trailer span:hover{
        color: #d96c2c;
        background-color: white;
    }
.description h2{
    font-size: 30px;
    font-weight: 700;
}
.description p{
    color: gray;
    font-size: 16px;
    font-weight: 400;
}
.video{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.video i{
    position: absolute;
    top: 30px;
    right: 40px;
    /* width: 100%; */
    color:white;
    font-weight: 700;
    font-size: 30px;
    text-align: end;
    cursor: pointer;
}
.video iframe{
    width: 1000px;
    height: 600px;
}
@media screen and (max-width: 1200px) {
    .video iframe{
        width: 800px;
        height: 500px;
    }
}
@media screen and (max-width: 992px) {
    .video iframe{
        width: 600px;
        height: 400px;
    }
}
@media screen and (max-width: 768px) {
    .video iframe{
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width: 576px) {
    .video iframe{
        width: 400px;
        height: 250px;
    }
    .video i{
        font-size: 20px;
    }
}
@media screen and (max-width: 425px) {
    .video iframe{
        width: 250px;
        height: 150px;
    }
}