$firstFont : 400;
$secondFont : 500;
$thridFond : 600;
$fourthFont : 700;

$white : #fff;
$black : #000;
$gray : #737373;
$lightGray : #F3F3F3;
$orange : #d96c2c;
$orangeRgba : #ff8800d1;

$familyFont : 'Space Grotesk', sans-serif;